{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HTML Basic Tutorial</title>
        <link rel="stylesheet" href="{% static '/style/allcourses_css/html_intro.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sahitya:wght@400;700&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/logo/quickfav/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/logo/quickfav/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/logo/quickfav/favicon-16x16.png' %}">
        <link rel="manifest" href="{static '/images/logo/quickfav/site.webmanifest'}">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   </head>
           
   <body>
           <div class="allmainpage">
               <menu>
                    <div class="othersidebar">
                        <h3>HTML Tutorial</h3>
                        <ul>
                            <li class="active"><a href="/html">HTML HOME</a></li>
                            <li><a href="/html_intro">HTML Introduction</a></li>
                            <li><a href="/html_editor">HTML Editors</a></li>
                            <li><a href="/html_basic">HTML Basic</a></li>
                            <li><a href="/html_ele">HTML Elements</a></li>
                            <li><a href="/html_attr">HTML Attributes</a></li>
                            <li><a href="/html_heading">HTML Headings</a></li>
                            <li><a href="/html_para">HTML Paragraphs</a></li>
                            <li><a href="/html_style">HTML Styles</a></li>
                            <li><a href="#">HTML Formatting</a></li>
                        </ul>
                    </div>
               </menu>

                <nav>
                    <div class="navbar">
                        <!-- nav first -->
                        <ion-icon name="menu-outline" class="menu"></ion-icon>
                        <div class="first">
                              
                            <a href="/" class="logo">
                                <img src="{% static '/images/logo/quicklogo1.png'%}" alt="">
                                <h3>QuickHub</h3>
                            </a>

                            <div class="search">
                                <input type="text" id="searchbtn" placeholder="What class are your looking for today?">
                                <ion-icon name="close-outline" id="cancleBtn"></ion-icon>
                                <ion-icon name="search-outline" id="searchBtn"></ion-icon>                                 
                            </div>

                            <ul class="moreabout">
                                <li>
                                    <a href="#">QuickHub Pro</a>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </li>
                                <li>
                                    <a href="#">Explore</a>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </li>
                            </ul>
                        </div>

                        <!-- nav second -->
                        <div class="second">
                            <ul>
                                <li class="become"><a href="/become">Become a Teacher</a></li>
                                <li class="signin"><a href="/signin">Sign In</a></li>
                            </ul>
                            <a href="/" class="join">Join</a>
                        </div>
                    </div>
                </nav>
 
                <div class="carousel">
                        <div class="scrollBtn">
                            <ion-icon name="chevron-back-outline" id="scrollback"></ion-icon>
                            <ion-icon name="chevron-forward-outline" id="scrollforward"></ion-icon>
                        </div>
                        <div class="categories_inner">
                           <div class="category_wrapper">
                                <li class="active"><a href="#">Web Development Course</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Mobile Development</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Python Technologies</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Education Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Arabic Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Business Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Forex Trading Course</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Freelancing Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Data Engineering</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Marketing Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Software Engineering</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Software Testing</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">AI Technologies</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                           </div>
                        </div>
                        <ul class="carouselbody">
                            <li id="chevron" class="active flex"><a href="#">Categories</a><ion-icon name="chevron-down-outline" id="ion"></ion-icon></li>
                            <li><a href="{% url 'p_default' %}">Python</a></li>
                            <li><a href="#">C++</a></li>
                            <li><a href="#">c#</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">Ruby</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">Scala</a></li>
                            <li><a href="#">Groovy</a></li>
                            <li><a href="#">Golang</a></li>
                            <li><a href="#">SQL</a></li>
                            <li><a href="#">MongoDB</a></li>
                            <li><a href="#">Chemistry</a></li>
                            <li><a href="#">Physics</a></li>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Math</a></li>
                            <li><a href="#">Literature</a></li>
                            <li><a href="#">More...</a></li>
                        </ul>
                </div>

                <main>
                    <div class="sidebar">
                        <h3>HTML Tutorial</h3>
                        <ul>
                            <li class="active"><a href="/html">HTML HOME</a></li>
                            <li><a href="/html_intro">HTML Introduction</a></li>
                            <li><a href="/html_editor">HTML Editors</a></li>
                            <li><a href="/html_basic">HTML Basic</a></li>
                            <li><a href="/html_ele">HTML Elements</a></li>
                            <li><a href="/html_attr">HTML Attributes</a></li>
                            <li><a href="/html_heading">HTML Headings</a></li>
                            <li><a href="/html_para">HTML Paragraphs</a></li>
                            <li><a href="/html_style">HTML Styles</a></li>
                            <li><a href="#">HTML Formatting</a></li>
                        </ul>
                    </div>

                    <div class="maincontainer">
                        <div class="allmain">
                            <h1>HTML Basic Tutorial</h1>
                            <div class="prevNext">
                                <a href="/html_intro">Previous</a>
                                <a href="/html_ele">Next</a>
                            </div>
                            <p>In this chapter will are going to teach you some basic HTML Example</p>
                            <p>Don't get confuse if we use some tags it's not that complex but un-familiar</p><br>
                            <p>And Always remember this <b>: HTML stand for -> Hypertext Markup Language</b>, a standardized system for tagging text files to achieve font, colour, graphic, and hyperlink effects on World Wide Web pages.</p><br>
                            <div class="studyeditor">
                                <h1>HTML Document</h1>
                                <p>-> It is a best and good pratice to start your html document with document declaration which <b>(!DOCTYPE html)</b></p>
                                <p>-> The HTML Document itself begins with <b>(html)</b></p>
                                <p>-> And the visible part of the document must begin with (body)</p>
                            </div>
                            <!-- Example -->
                            <div class="example">
                                <h3>Example</h3>
                                <div class="exampleinner">
                                    <p><ion-icon name="chevron-back-outline"></ion-icon>!DOCTYPE html<ion-icon name="chevron-forward-outline"></ion-icon></p>
                                    <p><ion-icon name="chevron-back-outline"></ion-icon>html<ion-icon name="chevron-forward-outline"></ion-icon></p>
                                    <p><ion-icon name="chevron-back-outline"></ion-icon>head<ion-icon name="chevron-forward-outline"></ion-icon></p>
                                    <!-- For two tags -->
                                    <div class="tags"><span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>title<ion-icon name="chevron-forward-outline"></ion-icon>
                                    </span>Page title<span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>/title<ion-icon name="chevron-forward-outline"></ion-icon></span></div>
                                    <!-- For two tags -->
                                    <p><ion-icon name="chevron-back-outline"></ion-icon>/head<ion-icon name="chevron-forward-outline"></ion-icon></p>
                                    <p><ion-icon name="chevron-back-outline"></ion-icon>body<ion-icon name="chevron-forward-outline"></ion-icon></p>
                                    <!-- For two tags -->
                                    <div class="tags"><span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>h1<ion-icon name="chevron-forward-outline"></ion-icon>
                                    </span>This is heading tag<span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>/h1<ion-icon name="chevron-forward-outline"></ion-icon></span></div>
                                    <!-- For two tags -->
                                    <div class="tags"><span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>p<ion-icon name="chevron-forward-outline"></ion-icon>
                                    </span>This is paragraph.<span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>/p<ion-icon name="chevron-forward-outline"></ion-icon></span></div>
                                    <!-- For two tags -->
                                    <p><ion-icon name="chevron-back-outline"></ion-icon>/body<ion-icon name="chevron-forward-outline"></ion-icon></p>
                                    <p><ion-icon name="chevron-back-outline"></ion-icon>/html<ion-icon name="chevron-forward-outline"></ion-icon></p>
                                </div>
                            </div>

                            <div class="step">
                                <h1>The (!DOCTYPE Html) Declaration tags</h1>
                                <p>It's define the type of the page and also makes the web page display correctly.</p>
                                <p>The <b>(!DOCTYPE Html)</b> tags must be at the top of the file once the file is created.</p>
                                <p>The declaration type for <b>(!DOCTYPE Html) is: </b></p><br>
                                <div class="example">
                                    <div class="exampleinner">
                                        <p><ion-icon name="chevron-back-outline"></ion-icon>!DOCTYPE html<ion-icon name="chevron-forward-outline"></ion-icon></p>
                                    </div>
                                </div><br>

                                <h1>The Headings tags</h1>
                                <p>HTML Heading tags define with the <b>(h1) to (/h6) tags</b></p>
                                <p>The <b>(h1) to (h1)</b> are the most important tags in HTML</p>
                                <div class="example">
                                    <div class="exampleinner">
                                        <div class="tags"><span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>h1<ion-icon name="chevron-forward-outline"></ion-icon>
                                        </span>This is heading 1<span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>/h1<ion-icon name="chevron-forward-outline"></ion-icon></span></div>
                                        <div class="tags"><span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>h2<ion-icon name="chevron-forward-outline"></ion-icon>
                                        </span>This is heading 2<span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>/h2<ion-icon name="chevron-forward-outline"></ion-icon></span></div>
                                        <div class="tags"><span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>h3<ion-icon name="chevron-forward-outline"></ion-icon>
                                        </span>This is heading 3<span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>/h3<ion-icon name="chevron-forward-outline"></ion-icon></span></div>
                                    </div>
                                </div><br>

                                <h1>The Paragraph tags</h1>
                                <p>HTML Paragraph define with tags</p>
                                <div class="example">
                                    <div class="exampleinner">
                                        <div class="tags"><span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>p<ion-icon name="chevron-forward-outline"></ion-icon>
                                        </span>This is a paragraph<span class="flex"><ion-icon name="chevron-back-outline"></ion-icon>/p<ion-icon name="chevron-forward-outline"></ion-icon></span></div>
                                    </div>
                                </div><br>

                                <h1>How view the HTML Source file</h1>
                                <p>Go the folder where your file is located right-click and click on open with chrome or any browser you desire.</p>
                            </div><br>
                            <!-- Optional -->
                            <div class="optional">
                                <h1>Optional Features</h1>
                                <p>Log in to your account, and start earning points!</p>
                                <p>With this optional Features you can study at QuickHub without any paid.</p>
                            </div>

                            <div class="prevNext">
                                <a href="/html_intro">Previous</a>
                                <a href="/html_ele">Next</a>
                            </div>
                        </div>
                    </div>

                    <footer>
                        <div class="first">
                            <a href="/" class="logo">
                                <img src="{% static '/images/logo/quicklogo1.png'%}" alt="">
                                <h1>QuickHub</h1>
                            </a>
                            <p>QuickHub is a leading Ed Tech <br> company striving to provide the best <br> learning material on technical and non-<br>technical subjects.</p>
                        </div>
    
                        <div class="seconds">
                            <h1>About us</h1>
                            <div class="secondInner">
                                <ul>
                                    <li><a href="#"> > Company </a></li>
                                    <li><a href="#"> > Our Team </a></li>
                                    <li><a href="#"> > Careers </a></li>
                                    <li><a href="#"> > Jobs </a></li>
                                    <li><a href="#"> > Contact Us </a></li>
                                </ul>
                                <ul>
                                    <li><a href="#"> > Term of use </a></li>
                                    <li><a href="#"> > Privacy Policy </a></li>
                                    <li><a href="#"> > Refund Policy </a></li>
                                    <li><a href="#"> > Cookies Policy </a></li>
                                    <li><a href="#"> > FAQ's </a></li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="third">
                            <div class="address">
                                <ion-icon name="location-outline"></ion-icon>
                                <p>QuickHub Learning Institute Limited, <br>Along H.M.A Company Abuja, Nigeria</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                                    <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
                                    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                                    <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                </main>

           </div>
    
           <script src="{% static '/scripts/all_courses_js/html_intro.js'%}"></script>
   </body>
</html>