{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hijamah Tutorial Course & Marketplace</title>
        <link rel="stylesheet" href="{% static '/style/allcourses_css/hijama.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sahitya:wght@400;700&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/logo/quickfav/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/logo/quickfav/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/logo/quickfav/favicon-16x16.png' %}">
        <link rel="manifest" href="{static '/images/logo/quickfav/site.webmanifest'}">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   </head>
           
   <body>
           <div class="allmainpage">
               <menu>
                    <div class="othersidebar">
                        <h3>Hijamah Tutorial</h3>
                        <ul>
                            <li class="active"><a href="/default">Introduction</a></li>
                            <li><a href="/historical">Historical Background of Hijamah</a></li>
                            <li><a href="/cupping">Hijamah and cupping therapy</a></li>
                            <li><a href="/type">Types of Hijamah</a></li>
                            <li><a href="/method">Method of Hijamah</a></li>
                            <li><a href="/effect">Effect of Hijamah</a></li>
                            <li><a href="#">Hijamah point for some ailment</a></li>
                            <li><a href="#">Terminologies used in Hijamah</a></li>
                        </ul>
                    </div>
               </menu>

                <nav>
                    <div class="navbar">
                        <!-- nav first -->
                        <ion-icon name="menu-outline" class="menu"></ion-icon>
                        <div class="first">
                              
                            <a href="/" class="logo">
                                <img src="{% static '/images/logo/quicklogo1.png'%}" alt="">
                                <h3>QuickHub</h3>
                            </a>

                            <div class="search">
                                <input type="text" id="searchbtn" placeholder="What class are your looking for today?">
                                <ion-icon name="close-outline" id="cancleBtn"></ion-icon>
                                <ion-icon name="search-outline" id="searchBtn"></ion-icon>                                 
                            </div>

                            <ul class="moreabout">
                                <li>
                                    <a href="#">QuickHub Pro</a>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </li>
                                <li>
                                    <a href="#">Explore</a>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </li>
                            </ul>
                        </div>

                        <!-- nav second -->
                        <div class="second">
                            <ul>
                                <li class="become"><a href="{% url 'become' %}">Become a Teacher</a></li>
                                <li class="signin"><a href="{% url 'signin' %}">Sign In</a></li>
                            </ul>
                            <a href="{% url 'signup' %}" class="join">Join</a>
                        </div>
                    </div>
                </nav>
 
                <div class="carousel">
                        <div class="scrollBtn">
                            <ion-icon name="chevron-back-outline" id="scrollback"></ion-icon>
                            <ion-icon name="chevron-forward-outline" id="scrollforward"></ion-icon>
                        </div>
                        <div class="categories_inner">
                           <div class="category_wrapper">
                                <li class="active"><a href="#">Web Development Course</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Mobile Development</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Python Technologies</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Education Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Arabic Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Business Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Forex Trading Course</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Freelancing Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Data Engineering</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Marketing Courses</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Software Engineering</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">Software Testing</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                                <li><a href="#">AI Technologies</a><ion-icon name="arrow-forward-outline"></ion-icon></li>
                           </div>
                        </div>
                        <ul class="carouselbody">
                            <li id="chevron" class="active flex"><a href="#">Categories</a><ion-icon name="chevron-down-outline" id="ion"></ion-icon></li>
                            <li><a href="{% url 'p_default' %}">Python</a></li>
                            <li><a href="#">C++</a></li>
                            <li><a href="#">c#</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">Ruby</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">Scala</a></li>
                            <li><a href="#">Groovy</a></li>
                            <li><a href="#">Golang</a></li>
                            <li><a href="#">SQL</a></li>
                            <li><a href="#">MongoDB</a></li>
                            <li><a href="#">Chemistry</a></li>
                            <li><a href="#">Physics</a></li>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Math</a></li>
                            <li><a href="#">Literature</a></li>
                            <li><a href="#">More...</a></li>
                        </ul>
                </div>

                <main>
                    <div class="sidebar">
                        <h3>Hijamah Tutorial</h3>
                        <ul>
                            <li class="active"><a href="/default">Introduction</a></li>
                            <li><a href="/historical">Historical Background of Hijamah</a></li>
                            <li><a href="/cupping">Hijamah and cupping therapy</a></li>
                            <li><a href="/type">Types of Hijamah</a></li>
                            <li><a href="/method">Method of Hijamah</a></li>
                            <li><a href="/effect">Effect of Hijamah</a></li>
                            <li><a href="#">Hijamah point for some ailment</a></li>
                            <li><a href="#">Terminologies used in Hijamah</a></li>
                        </ul>
                    </div>

                    <div class="maincontainer">
                        <div class="allmain">
                            <h1>Hijamah Tutorial</h1>
                            <div class="prevNext">
                                <a href="/default">Previous</a>
                                <a href="/historical">Next</a>
                            </div>
                            
                            <p>Al-hijamah is a wet cupping therapy of prophetic medicine, and prophet Muhammed, peace be upon hom, strongly
                                recommended Al-Hijamah, saying: "The best of your treatment is is Al-hijamah"
                            </p><br>
                            <div class="study">
                                <p>Introduction Hijamah <b>(حجامة)</b> comes from the Arabic root word <b>(حجم)</b> which means “to diminish in volume”, and refers to the 
                                    reduction in blood volume or to the vacuum effect used to draw blood from the body. In the case of the Ahaadeeth <b>(sayings 
                                    of the Nabi [SAW])</b> regarding hijamah it refers to the drawing of blood from the body for therapeutic purposes, either to 
                                    maintain health in the case of one who is not sick or to cure a specific illness or ailment. impurities and toxins away from 
                                    the nearby tissues and organs towards the surface for elimination via the break in the skin layer created through the incisions 
                                    made prior to the application of the "cup" many different methods including sucking with the mouth directly over a cut or wound 
                                    (as in the case of poisonous bites), using a leech to draw blood, the use of instruments such as animal horns as was done in 
                                    ancient times, or the more modern methods of using bamboo, glass or plastic “cups”, either with fire or a pump mechanism.The 
                                    practice of applying a partial vacuum by these means causes the tissues beneath the cup to be drawn up and swell, thereby increasing 
                                    blood flow to the affected area. This enhanced blood flow draws impurities and toxins away from the nearby tissues and organs towards
                                    the surface for elimination via the break in the skin layer created through the incisions made prior to the application of the "cup" 
                                    or similar device . Although in the olding age practioner make use of bamboo, horn, glass for Hijamah but,the most advicable and 
                                    applicable is the cupping therapy.</p>
                            </div>
                            

                            <!-- Optional -->
                            <div class="optional">
                                <h1>Optional Features</h1>
                                <p>Log in to your account, and start earning points!</p>
                                <p>With this optional Features you can study at QuickHub without any paid.</p>
                            </div>

                            <div class="prevNext">
                                <a href="/default">Previous</a>
                                <a href="/historical">Next</a>
                            </div>
                        </div>
                    </div>

                    <footer>
                        <div class="first">
                            <a href="/" class="logo">
                                <img src="{% static '/images/logo/quicklogo1.png'%}" alt="">
                                <h1>QuickHub</h1>
                            </a>
                            <p>QuickHub is a leading Ed Tech <br> company striving to provide the best <br> learning material on technical and non-<br>technical subjects.</p>
                        </div>
    
                        <div class="seconds">
                            <h1>About us</h1>
                            <div class="secondInner">
                                <ul>
                                    <li><a href="#"> > Company </a></li>
                                    <li><a href="#"> > Our Team </a></li>
                                    <li><a href="#"> > Careers </a></li>
                                    <li><a href="#"> > Jobs </a></li>
                                    <li><a href="#"> > Contact Us </a></li>
                                </ul>
                                <ul>
                                    <li><a href="#"> > Term of use </a></li>
                                    <li><a href="#"> > Privacy Policy </a></li>
                                    <li><a href="#"> > Refund Policy </a></li>
                                    <li><a href="#"> > Cookies Policy </a></li>
                                    <li><a href="#"> > FAQ's </a></li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="third">
                            <div class="address">
                                <ion-icon name="location-outline"></ion-icon>
                                <p>QuickHub Learning Institute Limited, <br>Along H.M.A Company Abuja, Nigeria</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                                    <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
                                    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                                    <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                </main>

           </div>
    
           <script src="{% static '/scripts/all_courses_js/hijama.js'%}"></script>
   </body>
</html>